#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../sprite_animation/main.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab(
    entities: [
        // Grey bat
        PrefabEntity(
            data: PlayerPrefab(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("sprites/jocat_cut.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    normalized: true,
                                    anisotropic: Off,
                                ),
                            ),
                        )),
                        sprites: [
                            // Jocat sprites (idle)
                            Grid((
                                texture_width: 13515,
                                texture_height: 2324,
                                columns: 15,
                                rows: 4,
                                cell_size: (901, 581),
                            )),
                            List((
                                texture_width: 13515,
                                texture_height: 2324,
                                sprites: [
                                    (x: 0, y: 0, width: 901, height: 581),
                                    (x: 901, y: 0, width: 901, height: 581),
                                    (x: 1802, y: 0, width: 901, height: 581),
                                    (x: 2703, y: 0, width: 901, height: 581),
                                    (x: 3604, y: 0, width: 901, height: 581),
                                    (x: 4505, y: 0, width: 901, height: 581),
                                    (x: 5406, y: 0, width: 901, height: 581),
                                    (x: 6307, y: 0, width: 901, height: 581),
                                    (x: 7208, y: 0, width: 901, height: 581),
                                    (x: 8109, y: 0, width: 901, height: 581),
                                    (x: 9010, y: 0, width: 901, height: 581),
                                    (x: 9911, y: 0, width: 901, height: 581),
                                    (x: 10812, y: 0, width: 901, height: 581),
                                    (x: 11713, y: 0, width: 901, height: 581),
                                    (x: 12614, y: 0, width: 901, height: 581),
                                    (x: 0, y: 581, width: 901, height: 581),
                                ],
                            )),
                        ],
                        // optional
                        name: "jocat_idle",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "jocat_idle",
                        sprite_number: 0,
                    ),
                    // Transform
                    transform: (
                        translation: (150.0, 37.5, 0.0),
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.033, 0.067, 0.01, 0.13, 0.17, 0.20, 0.23, 0.27, 0.30, 0.33, 0.37, 0.40, 0.43, 0.47],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)

